<div class="kt-portlet__body">
    <zxing-scanner *ngIf="scannerEnabled" #qrscanner (scanSuccess)="scanSuccessHandler($event)">
    </zxing-scanner>
</div>

<div class="kt-callout__content">
    <div class="chargeCheck" *ngIf="chargeCheck">
        <a class="title">Please scan your QR code </a>
    </div>

    <div class="chargeMessage" *ngIf="!chargeCheck">
        <div class="chargeSection" *ngIf="chargeRequired">
            <p>Please proceed to the ticket office to pay for your parking.</p>
        </div>
        <div class="chargeSection" *ngIf="!chargeRequired">
            <p>Thank you!</p>
            <p>Have a great day!</p>
        </div>

        <button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Return to Home Page</button>
    </div>

</div>