<div class="kt-callout__content">
    <div class="chargeCheck" *ngIf="chargeCheck">
        <h2>Please scan your QR code </h2>

        <h3>If you require assistance with scanning your QR code, please proceed to the ticket office and we can assist you.</h3>
    </div>
    
    <div class="chargeMessage" *ngIf="!chargeCheck">
        <div class="chargeSection" *ngIf="chargeRequired">
            <p>Please proceed to the ticket office to pay for your parking.</p>
        </div>
        <div class="chargeSection" *ngIf="!chargeRequired">
            <p>Thank you!</p>
            <p>Have a great day!</p>
        </div>
        
        <button class="button-6" role="button" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Return to Home Page</button>
    </div>
    
</div>

<div class="kt-portlet__body">
    <zxing-scanner *ngIf="scannerEnabled" #qrscanner (scanSuccess)="scanSuccessHandler($event)">
    </zxing-scanner>
</div>